/*F1EDF6 color cuerpo*/

body {
  background-color: #F1EDF6;
}

.NabVar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;

}

.NabVar ul {

  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;
  justify-content: space-evenly;
  width: 50%;

}

.NabVar ul li {
  
  margin: 1rem 0 1rem 0;
  text-align: center;
  
  height: 1.5rem;
  font-weight:400;

 
}


.cartWidget {
  position: absolute;

  right: 2rem;

}

.cartWidget span {
  position: absolute;

}

.NabVar a {
  display: block;
  text-decoration: none;
  color: #282c34;
  height: 1.7rem;
  width: 10rem;
}
.NabVar ul a:hover {
  border-radius:100px ;
  background: #C5A7FF;
  color: #5706AC;
  
  
  
}
.NabVar .CartNav {

  text-align: right;

}

.NabVar .CartNav img {
  width: 45%;
}

.NabVar span {
  font-size: 1.5rem;
  font-weight: 600;
  border: 1px solid #C0C0C0;
  border-radius: 10px;
}
.NabVar span:hover{
  border-color: #aa75ff;
  
} 
.NabVar .MercadoNorte{
  color: rgb(10, 228, 228);
}
.ItemListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  padding: 0.5rem;
  margin: 1rem;
  width: 10rem;
  height: 22rem;
  border: 1px solid #C0C0C0;
  border-radius: 10px;
}

.card:hover {
  
  border-color: #5706AC;
  border-color: #C5A7FF;
  border-color: #AA76FF;
}

.card a {
  text-decoration: none;
  color: black;
}

.card img {
  width: 100%;  
  background: linear-gradient(white, white) padding-box,
  linear-gradient(to top,  #c0c0c08c,  #c0c0c000) border-box;
  border-radius:  10px; 
  border: 1px solid #c0c0c000;
}

.card ul {
  list-style: none;
  padding: 0;
}

.card ul li {
  font-size: medium;
  padding-left: 0.5rem;

  
}

.card .title {
  font-size: larger;
  padding-left: 0;
  font-weight:700;


}
.card ul li span{
  
  font-weight:500;
  


}
.card .SmallDescription {
  font-size: smaller;
  color: #C5A7FF;
  color: #AA76FF;
}

.buttonAdd {

  background-color: #61dafb;
  border: none;
  border-radius: 5rem;
}
.itemDetailContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
}
.ItemDetail {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
  margin-top: 3rem;
  background-color: #ffffff;
  width: 50%;
  border: 1px solid #C0C0C0;
  border-radius: 10px;
}

.ItemDetail ul {
  list-style: none;
  padding-left: 0;
  background-color: #ffffff;
}

.ItemDetail ul li {
  font-size: large;
 
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}
.ItemDetail ul li span{
  font-weight:500;
}
.ItemDetail .itemDetailTitle {
  font-size: larger;
  padding-left: 0;
  
  font-weight:700;
  
}
.ItemDetail .precio{
  color:#5706AC
}
.ItemDetail img {
  width: 25%;
  background: linear-gradient(white, white) padding-box,
  linear-gradient(to top,  #c0c0c08c,  #c0c0c000) border-box;
  border-radius:  10px; 
  border: 1px solid #c0c0c000;
}

.ItemDetail button {
  border: 0;
  line-height: 1.5;
  padding: 0 0.5rem;
  font-size: 1rem;
  text-align: center;
  color:#ffffff;  
  border-radius: 10px;
  
  /*#AA76FF;*/
  background-color: #5706AC;
  
  /*background: linear-gradient(270deg, #5706AC 2.75%, #8047BC 100%);*/
  /* La solucion fu esta background-image: linear-gradient(to bottom left,  #5706AC 2.75%,#8047BC 70%, #8047BC 100%);*/
 /* background-color: rgb(230, 14, 14);
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));*/
  
}

.ItemDetail button:hover {  
  background-image: linear-gradient(to bottom left,  #5706AC 2.75%,#8047BC 70%, #8047BC 100%);
}
.ItemDetail button:disabled{
  background-image:none;
  background-color: #AA76FF;
}
/*Revisar esta de abajo*/
.ItemDetail button:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.ItemDetail button:disabled{
  border: none;
  line-height: none;
  padding: none;
  font-size: none;
  text-align: none;
  color: none;
  border-radius: none;
  background-color: none;
  background-image:none;
  box-shadow:none;
}



.NoProductos {
  display: flex;  
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  margin-top: 5rem;
}

.NoProductos a{
 
  text-decoration: none;
}
.ContenedorCart{
  display: flex;  
  justify-content: space-evenly;  
  margin-top: 3rem;
}
.cart{
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  /*width: 15%; hace lo que quiero q es el space between pero hace wrap y baja el boton*/
  border-radius:  10px; 
  border: 1px solid #c0c0c0;
  height: 5rem;
  padding: 0.3%;
  position: sticky;
  top: 20px;
}
.cart p{
  font-weight:600;
  margin-right: 0.2rem;
}
.cart span{
  color: #5706AC;  
}
.cart button {
  border: 0;
  line-height: 1.5;
  padding: 0 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;  
  border-radius: 10px;
  background-color: #5706AC;  
}
.cart button:hover {  
  background-image: linear-gradient(to bottom left,  #5706AC 2.75%,#8047BC 70%, #8047BC 100%);
}
.cart button:disabled{
  background-image:none;
  background-color: #AA76FF;
}
.CartItem{
  width: 30rem;
}
.itemCart {
  list-style: none;
  padding: 0;
  display: flex; 
  align-items: center;
  background-color:#ffffff; 
  border-radius:  10px; 
  border: 1px solid #c0c0c0;
  margin-top: 1rem;
}

.itemCart img {
  width: 20%;
  
  
}
.itemCart ul {
  
  padding-left: 0;

  
}
.itemCart li {
  list-style: none;
  padding-left: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.itemCart .titleCart {
  padding-left: 0;
  font-weight:700;
}
.itemCart span {
 font-weight:600;
 margin-right:1rem ;  
}
.itemCart .precio{
  color:#AA76FF;
}
.itemCart .precioXc{
  color:#5706AC;
}
.itemCart .remov_add{
  display: flex;
  justify-content: space-between;
  
}
.itemCart button {
  margin-top:0.5rem ;
  border: 0;
  line-height: 1.5;
  padding: 0 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;  
  border-radius: 10px;
  background-color: #5706AC;  
  
}

.itemCart button:hover {  
  background-image: linear-gradient(to bottom left,  #5706AC 2.75%,#8047BC 70%, #8047BC 100%);
}
.itemCart button:disabled{
  background-image:none;
  background-color: #AA76FF;
}

.ordenCheckout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

}
.Checkout {
  display: flex;
  flex-direction: column;
}

.Checkout a {
  display: flex;
  justify-content: center;

}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  width: 100%;
}
.form label{
  font-weight: 600;
  margin-top:0.5rem ;
}

.errorForm {
  color: red;
  font-weight: 600;
}

.enviadoForm {  
  font-weight: 600;
}
.enviadoForm span{
  color: rgb(247, 0, 255);
}
.ordenCheckout a {
  text-decoration: none;
}

.ordenCheckout ul {
  margin: 0;  
  background-color: #ffffff;
  border: 1px solid #C0C0C0;
  border-radius: 10px;  
  padding: 1.2%;
}

.ordenCheckout ul li {   
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(3, 1fr);  
  justify-content: space-between;
  margin: 0.5rem 0 0.5rem 0;  
}
.ordenCheckout ul li span{
  font-weight: 600;
}
.ordenCheckout .totalPrice {
  display: flex;
  justify-content: space-between;
 

}
.ordenCheckout .totalPrice span {
  text-decoration: underline;
}
.ordenCheckout .totalPrice .totalPriceSpan{
  color: #5706AC;
}
.precioXcanti{
  text-align: right;
  color: #AA76FF;
  
}
.ordenCheckout button {
  border: 0;
  line-height: 1.5;
  padding: 0 0.5rem;
  font-size: 1rem;
  text-align: center;  
  border: 1px solid #5706AC;
  border-radius: 10px;  
  margin-bottom: 0.5rem;
  
}
.ordenCheckout button:hover { 
  color:#ffffff;   
  background-image: linear-gradient(to bottom left,  #5706AC 2.75%,#8047BC 70%, #8047BC 100%);
}
.ordenCheckout button:disabled{
  background-image:none;
  color:currentcolor;
  background-color: #AA76FF;
  border: none;
}
.ordenCheckout  input{
  /*width: 50px;*/
  border: 1px solid #C0C0C0 ;
  border-radius: 10px;
}
/*.ordenCheckout input[type=text] {
  transition: width 0.4s ease-in-out;
}

.ordenCheckout input[type=text]:focus {
  width: 100%;
} para que sea pequeño y se agrande*/

.ordenCheckout  input:invalid {
  background-color: #AA76FF;
  border: 1px solid #5706AC ;
  border-radius: 10px;
}
.error404{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.error404 a{
  text-decoration: none;
  color: antiquewhite; 
  font-size: xx-large;
}
.error404 h1{
  font-size: 5rem;
}
/* align content e aling item distintos*/
/*Supuesto css de default button
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, rgb(207, 207, 207)), color-stop(0.79, rgb(252, 252, 252)));
background-image: -moz-linear-gradient(center bottom, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%);
background-image: linear-gradient(to top, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%); 
padding: 3px;
border: 1px solid #000;
color: black;
text-decoration: none;*/