/*F1EDF6 color cuerpo*/

.NabVar{
  background-color: beige;
  
}
.NabVar ul {
  
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;  
}

.NabVar ul li {
  margin: 1rem;

}
.cartWidget{
  position: absolute;
  
  right: 2rem;
}
.cartWidget span{
  position: absolute;

}
.NabVar a {text-decoration: none;
color: #282c34;}

.ItemListContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}
.card{
  background-color: beige;
  padding: 0.5rem;
  margin: 1rem;
  width: 10rem;
}
.card a{
  text-decoration: none;
  color: black;
}
.card img{
  width: 100%;
}

.buttonAdd{

  background-color: #61dafb;
  border: none;
  border-radius: 5rem  ;
}
.ItemDetail {
  display: flex;
  flex-wrap: wrap;
}
.ItemDetail img{
  width: 25%;
}
.itemCart img{
  width: 25%;
}
.Checkout{
  display: flex;
  flex-direction: column;
  align-items: center;
   
}
.form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center; 
  width: 30%;
}
.errorForm{
  color: red;
}
.enviadoForm{
  color: rgb(247, 0, 255);
}