.NabVar{
  background-color: beige;
  
}
.NabVar ul {
  
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;  
}

.NabVar ul li {
  margin: 1rem;

}
.cartWidget{
  position: absolute;
  
  right: 2rem;
}
.cartWidget span{
  position: absolute;

}
.NabVar a {text-decoration: none;
color: #282c34;}

.ItemListContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}
.card{
  background-color: beige;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  width: 10rem;
}
.card img{
  width: 100%;
}

.buttonAdd{

  background-color: #61dafb;
  border: none;
  border-radius: 5rem  ;
}